.footer {
	background: rgb(7, 7, 7);
	padding: 1rem 0;
	max-width: 100%;
	display: flex;
	justify-content: space-around;
}
.text {
	color: white;
	display: flex;
	height: 100%;
	font-weight: 700;
}

.footer a:any-link {
	text-decoration: none;
	color: white;
}
