* {
	padding: 0%;
	margin: 0%;
}

html,
body,
div#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	justify-content: space-between;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
