@font-face {
	font-family: 'Open-Sans';
	src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
	font-weight: normal;
}

* {
	padding: 0%;
	margin: 0%;
}
html,
body,
#__next {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#paper {
}
