.container {
	max-width: 100%;
	height: 100%;

	background-image: url(../assets/BG.svg);
	background-position: center;
	background-size: contain;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 7rem;
}

.link :any-link {
	height: 4rem;
	width: 20rem;
	background-color: white;

	border: none;
	border-radius: 1rem;
	font-size: 1.6rem;
	font-weight: 500;
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
