.container {
	max-width: 100%;
	height: 100%;
	background-color: #ff9a03;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
}

.container h2 {
	padding: 0.7rem 0rem;
}

.container p {
	padding: 0.2rem 0;
}

.container ul {
	padding: 1rem 1.1rem;
}

.container a:any-link {
	color: black;
}
.container a:hover {
	color: #fff;
}

.content {
	/* max-height: 32rem; */
	overflow: scroll;
	height: 100%;
	max-width: 100%;
	overflow-y: scroll;
}

.menu {
	padding: 1rem 0;
}

.menu a:any-link {
	color: black;
}
.menu a:hover {
	color: #fff;
}
@media screen and (min-width: 768px) {
	.content {
		height: 100%;
		overflow-x: hidden;
	}
}
