.navbar {
	max-width: 100%;
	height: auto;
	background-color: rgba(39, 50, 56, 0.85);
	font-size: 1rem;

	/* flex */
	display: flex;
	align-items: center;
}

.logo {
	padding: 0.5rem;
}

@media screen and (min-width: 450px) {
	.navbar {
		justify-content: center;
	}
	.navbar a {
		display: flex;
	}

	.logo img {
		width: 3rem;
		height: 3rem;
	}
}
