.navbar {
	max-width: 100%;
	max-height: 1rem;
	background-color: rgba(214, 210, 210, 0.504);
	padding: 1rem 2rem;
	font-size: 1.3rem;
	/* flex */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 2rem;
}

.text {
	font-size: 1.3rem;
	font-weight: bold;
	color: #ff9a03;
}
