.navbar {
	max-width: 100%;
	height: auto;
	background-color: #3c3c3c;
	font-size: 1.3rem;
	/* flex */
	display: flex;
	align-items: center;
}

.logo {
	padding: 1rem;
}

.text {
	font-size: 1.3rem;
	font-weight: bold;
	color: #ff9a03;
}
