.container {
	max-width: 100%;
	height: 100%;
	background-image: url(../assets/BG.svg);
	background-position: 0 -8rem;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	color: white;
	padding: 1rem;
	font-size: 2.5rem;
	font-weight: 600;
}

.container a {
	background-color: aliceblue;
	width: 20rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	text-decoration: none;
	color: black;
	border: none;
	font-size: 1.3rem;
}

.content {
	padding: rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 30rem;
	gap: 4rem;
}
