.container {
	display: flex;
	flex-direction: column;

	display: flex;
	align-items: center;
	gap: 2rem;
	height: 100%;
	background-image: url('../assets/BG site 3.svg');
	background-size: contain;
	background-size: cover;
	background-repeat: no-repeat;
}

.container h1 {
	color: white;
	padding: 1rem;
	font-size: 2.5rem;
	font-weight: 600;
}

.fields {
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}
.test {
	background-color: #333;
}

.container h2 {
	text-decoration: underline;
	display: flex;
	justify-content: center;
	text-underline-offset: 1rem;
}

.inputContainer {
	display: flex;
	max-width: 100%;
	font-size: 1.4rem;
	gap: 1rem;
}

.input {
	border: none;
	max-width: 3rem;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 1rem 0;
}

.button {
	background-color: aliceblue;
	width: 20rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	text-decoration: none;
	color: black;
	border: none;
	font-size: 1.3rem;
}
