.container {
	max-width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/backgroundSite2.svg');
	display: flex;
	flex-direction: column;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: auto 0;
	max-width: 100%;
	height: 70vh;
	overflow: hidden;
	overflow-y: scroll;
	list-style-type: none;
}

.list li :any-link {
	background-color: aliceblue;
	width: 20rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	text-decoration: none;
	color: black;
}
